{% extends "base.html" %}

{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/ai.css') }}" /> {% endblock styles %}

{% block content %}
{% include "notebook.html" %}
<div class="body">
  <div class="button-container">
    <section class="table__body">
      <h1 class="table__header">.ipynb files</h1>
      <table>
        <tbody>
          {% for notebook in notebooks  %}
          <tr>
            <td class="nb-title">{{ notebook.title }}</td>
            <td class="status">
              <a href="{{ url_for('notebook', file=notebook.file, open=notebook.is_open) }}">
                Explore
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
</div>
</div>
{% endblock content %}